header{


    font-family: "Bauhaus 93";
    background-color: saddlebrown;
    grid-area: h;
}
aside{
    background-color: bisque;
    /*width: 250px;*/

    /*height: 250px;*/
    grid-area: a;
}
main{
background-color: darkslategray;

    /*background-color: rebeccapurple;*/
    grid-area: m;

}
footer{
    background-color: red;
    grid-area: f;
}
#grid{
    display: grid;
    grid-template-areas:
'h h'
'a m'
'f f';
    grid-template-columns: 250px;
}

@media screen and (max-width: 992px) {
    #grid {
        grid-template-areas:
    'h a'
    'm a'
    'f a';
    }


}
@media screen and (min-width: 576px) {
    #grid{
        grid-template-areas:
    'f a'
    'a m'
    'h a';
    }

}






